@media screen {
    .item-title {
        opacity: 0;
        transition-duration: 500ms;
    }

    .item-line {
        translate: 0 0;
        transition-duration: 500ms;
        opacity: 0.2;
    }
    
    .main-item {
        &:hover {
            .item-line {
                translate: -1px 0;
                opacity: 0.9;
            }

            .item-title {
                opacity: 1;
            }
        }

    }
}