<section class="container flex flex-col items-center px-5 md:px-0" id="projects">

  <!-- projects title -->
  <div class="mb-8">
    <h2 class="font-extrabold text-[30px] mt-20 text-primary uppercase">Projects</h2>
  </div>
  <!-- projects title -->

  <!-- project list -->
  <div class="w-full">
    <div class="w-full overflow-hidden">
      <dynamic-carousel>
        <div class="flex items-center justify-start w-full">
          @for (project of projects.data; track $index) {
          <div class="me-8 flex max-w-[350px] min-w-[350px]">
            <project-card [project]="project" />
          </div>
          }
        </div>
      </dynamic-carousel>
    </div>
  </div>
  <!-- project list -->

</section>
