<section class="container flex flex-col items-center px-5 md:px-0" id="projects">

  <!-- projects title -->
  <div>
    <h2 class="font-extrabold text-[30px] mt-20 text-primary uppercase">Projects</h2>
  </div>
  <!-- projects title -->

  <!-- project list -->
  <article class="w-full">
    <h2 class="absolute w-[1px] h-[1px] p-0 m-[-1px] overflow-hidden whitespace-nowrap border-0"
      style="clip: rect(0, 0, 0, 0);">Projects</h2>
    <div class="flex flex-wrap justify-center w-full mt-4">
      @for (project of projects.data; track $index) {
      <div class="p-3 w-full md:w-1/4">
        <project-card [project]="project" />
      </div>
      }
    </div>
  </article>
  <!-- project list -->

</section>
