.carousel,
:host ::ng-deep {
  cursor: grab;
  user-select: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carousel.dragging ::ng-deep a {
  pointer-events: none;
}
