<header class="app-header fixed top-0 left-0 w-full" [class]="{'scrolled':isScrolled}" style="z-index: 99;">

  <!-- navbar -->
  <nav class="app-nav flex justify-center w-full py-5 text-white" [class]="{'scrolled':isScrolled}">
    <div class="container flex flex-col md:flex-row items-center justify-between w-full px-5 md:px-0">

      <div class="flex items-center justify-between w-full md:w-auto">

        <!-- logo container -->
        <a class="flex" href="/" aria-label="Go to homepage">
          <app-logo title="Hossein Mansouri Logo" />
        </a>
        <!-- logo container -->

        <!-- toggle menu -->
        <button [attr.aria-expanded]="menuVisibility" aria-controls="main-menu"
          class="flex items-center justify-center md:hidden" (click)="menuVisibility=!menuVisibility">
          @if(!menuVisibility){
          <i class="bi bi-list text-2xl"></i>
          }
          @if(menuVisibility){
          <i class="bi bi-arrow-up-short text-2xl"></i>
          }
        </button>
        <!-- toggle menu -->

      </div>

      <!-- menu container -->
      <ul
        class="flex flex-col md:items-center w-full md:flex-row md:w-auto overflow-hidden transition-[max-height] duration-700 ease-in-out md:max-h-full"
        [class]="{'max-h-0': !menuVisibility,'max-h-[400px]': menuVisibility}">
        <li class="pt-5 md:pt-0">
          <a href="#home"
            class="mx-6 cursor-pointer pt-3 md:pt-0 hover:text-primary transition-colors duration-200 mt-2 md:mt-0">Home</a>
        </li>
        <li class="pt-3 md:pt-0">
          <a href="#projects"
            class="mx-6 cursor-pointer pt-3 md:pt-0 hover:text-primary transition-colors duration-200">Projects</a>
        </li>
        <li class="pt-3 md:pt-0">
          <a href="#experience"
            class="mx-6 cursor-pointer pt-3 md:pt-0 hover:text-primary transition-colors duration-200">Experience</a>
        </li>
        <li class="pt-3 md:pt-0">
          <a href="#contact-us"
            class="mx-6 cursor-pointer pt-3 md:pt-0 hover:text-primary transition-colors duration-200">Contact</a>
        </li>
        <li class="pt-3 md:pt-0">
          <a [routerLink]="['/blog']"
            class="mx-6 cursor-pointer pt-3 md:pt-0 hover:text-primary transition-colors duration-200 mt-2 md:mt-0">Blog</a>
        </li>
      </ul>
      <!-- menu container -->

    </div>
  </nav>
  <!-- navbar -->

</header>
