<div class="w-full flex flex-wrap ">
  <form class="w-full flex flex-wrap">
    <fieldset class="form-fieldset w-full">
      <label class="form-label" for="contact-us-form-user-fullname">Name</label>
      <input type="text" id="contact-us-form-user-fullname" placeholder="Your Name" class="w-full" />
    </fieldset>
    <fieldset class="w-full form-fieldset">
      <label for="contact-us-form-user-email" class="form-label">Email</label>
      <input type="email" id="contact-us-form-user-email" placeholder="Your Email" class="w-full" />
    </fieldset>
    <fieldset class="w-full form-fieldset">
      <label for="contact-us-form-user-message" class="form-label">Message</label>
      <textarea id="contact-us-form-user-message" rows="6" placeholder="Your Message" class="w-full"></textarea>
    </fieldset>
    <div class="w-full flex justify-end mt-6">
      <button type="submit" class="btn btn-white">
        Send Message
      </button>
    </div>
  </form>
</div>
