<main role="main" class="bg-dark font-jetbrains" [style]="{'height':windowSize.height}">

  <!-- my description -->
  <h1 class="absolute w-[1px] h-[1px] p-0 m-[-1px] overflow-hidden whitespace-nowrap border-0"
    style="clip: rect(0, 0, 0, 0);">Hossein Mansouri – Full-Stack Developer</h1>
  <!-- my description -->

  <!-- navigation -->
  <div>
    <app-navbar />
  </div>
  <!-- navigation -->

  <!-- main content -->
  <div class="w-full flex flex-col items-center bg-dark text-white pt-16" id="home">

    <!-- section 1 -->
    <hero-section />
    <!-- section 1 -->

    <!-- section 2 -->
    <experience-with-section />
    <!-- section 2 -->

    <!-- section 2 -->
    <projects-section />
    <!-- section 2 -->

    <!-- section 3 -->
    <div class="container px-6 md:px-0">
      <experience-section />
    </div>
    <!-- section 3 -->

    <!-- contact us section -->
    <div class="container px-6 md:px-0">
      <contact-us-section />
    </div>
    <!-- contact us section -->

    <!-- blog section -->
    <div class="container">
      <blog-section />
    </div>
    <!-- blog section -->

    <!-- footer -->
    <div class="w-full mt-20 md:mt-40">
      <app-footer />
    </div>
    <!-- footer -->

  </div>
  <!-- main content -->

  <!-- back to top -->
  @if(backToTopVisibility){
  <back-to-top to="#home" />
  }
  <!-- back to top -->

  <!-- loading -->
  <app-loading *ngIf="false" />
  <!-- loading -->

</main>
