<article class="mx-4 flex flex-col aspect-[93/100] min-w-[280px] max-w-[280px] cursor-pointer">
  <!-- image -->
  <div class="blog-card-img-container h-full rounded-2xl overflow-hidden"
    style="background-image: url('/assets/images/monitor-lin.jpg');">

    <div class="w-full h-full ">
      <div class="w-full h-full flex items-end overflow-hidden bg-dark/50">
        <div class="w-full h-full flex flex-col justify-between py-3 px-4">

          <div class="flex items-center justify-between w-full text-white/80 like-container pt-1 ps-2">
            <div class="flex items-center w-fit">
              <i class="bi bi-clock me-1"></i>
              <span class="">3min</span>
            </div>

            <div class="items-center px-3 py-2 bg-dark/30 rounded-full">
              <span class="me-2">
                20
              </span>
              <span class="bi bi-heart"></span>
            </div>

          </div>

          <div class="flex flex-col w-full mt-auto article-title-container">
            <small class="text-secondary">category</small>
            <h3 class="text-white/75 w-full">Article full title, for test in website as text</h3>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- image -->

</article>
