@media screen {
  .hide-logo-anim {
    animation: HideLoadingLogoAnimation 2s forwards;
  }
  .hide-loading-anim {
    animation: HideLoadingAnimation 1s forwards;
    animation-delay: 1s;
  }
}

@keyframes HideLoadingLogoAnimation {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-13px);
    opacity: 0;
  }
}

@keyframes HideLoadingAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
